.app {
  width: 500px;
  margin: 100px auto;
  font-size: 50px;
}
.output {
  background-color: lightgrey;
  height: 60px;
}
.button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button {
  font-size: 40px;
}
